.container {
	margin-top: 80px;
	margin-left: 20%;
	width: 1050px;
	padding-bottom: 50px;
	margin-bottom: 50px;
}

.posts {
	position: relative;
	width: 1050px;
	top: 50px;
	left: 30%;
	right: 0;
	margin-bottom: 60px;
	padding-bottom: 60px;
}