html {
	position: relative;
	min-height: 100%;
}

body {
	height: 100%;
	min-height: 100%;
	color: #555;
	background-image: url("../images/cream_pixels.png");
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

textarea {
	font-family: inherit;
	font-size: 15px;
	line-height: 25px;
	height: 300px;
	width: 600px;
	margin-top: 20px;
	padding: 20px 20px;
	border-radius: 5px;
	resize: none;
}

label {
	font-size: 20px;
	font-style: italic;
	font-weight: 700;
}

/* UBI */

.container {
	margin-top: 80px;
	margin-left: 20%;
	width: 80%;
	padding-bottom: 50px;
	margin-bottom: 50px;
}

p {
	line-height: 25px;
	margin-bottom: 10px;
}

.name {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
}

.pic {
	margin-bottom: 10px;
}

/* HEADER */

header {
	position: absolute;
	color: #555;
	top: 0;
	right: 0;
	left: 0;
	height: 50px;
	background-color: #f0f8ff;
}

.header-title a, .nav-up a {
	text-decoration: none;
	color: inherit;
}

.header-title a:hover {
	text-decoration: underline;
}

.search-box {
	width: 300px;
	margin-left: 260px;
	margin-top: 6px;
	display: inline-block;
}

.search {
	width: 40px;
	background-color: white;
	background-image: url("../images/search.png");
	background-size: 25px 25px;
	background-position: 7px 3px;
	background-repeat: no-repeat;
	border: 1px solid #e2e2e2;
	border-radius: 5px;
	line-height: 30px;
	padding-left: 40px;
	transition: width 0.4s ease-in-out;
}

.search:focus {
	width: 300px;
}

.nav-up {
	float: right;
	margin-right: 20px;
	margin-top: 6px;
	font-size: 15px;
}

.nav-up li {
	border: 1px solid #eee;
	border-radius: 3px;
	display: inline-block;
	padding: 10px 10px;
}

.nav-up li:hover {
	background-color: #e9e9e9;
	cursor: pointer;
}

/* FOOTER */

footer {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 35px;
	background-color: #f0f8ff;
}

.profile-im {
	float: left;
	width: 250px;
	background-color: #66cdaa;
	height: 35px;
}

.by {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 0;
	font-size: 11px;
}

/* FORMS */

.form {
	width: 250px;
	margin: auto;
	margin-top: 80px;
}

.post-form {
	width: 600px;
	margin: auto;
}

.form-title {
	font-size: 30px;
	text-decoration: underline;
	text-align: center;
	margin-bottom: 30px;
}

.comment-form {
	margin-top: 20px;
}

/* PROFILE */

.profile {
	position: fixed;
	width: 250px;
	max-height: 100%;
	top: 0;
	bottom: 35px;
	left: 0;
	background-color: #66cdaa;
	overflow-y: auto;
	overflow-x: hidden;
}

.header-im {
	width: 250px;
	height: 50px;
	background-color: #f0f8ff;
}

.header-title {
	width: 250px;
	margin-top: 15px;
	text-align: center;
	display: inline-block;
}

.info {
	width: 90%;
	margin: auto;
	margin-top: 40px;
}

.user-pic {
	display: inline-block;
}

.info h2 {
	display: inline-block;
	word-wrap: break-word;
	width: 150px;
	vertical-align: top;
	font-size: 19px;
	margin-left: 3px;
}

.actions {
	margin-top: 20px;
}

.action {
	width: 90%;
	display: block;
	padding: 20px 50px;
	border: 1px solid #eee;
	margin: auto;
	margin-top: 10px;
	background-color: #e2e2e2;
	text-decoration: none;
	border-radius: 3px;
}

.action:hover {
	background-color: #e9e9e9;
}

.posts {
	position: relative;
	width: 1050px;
	top: 50px;
	left: 250px;
	right: 0;
	margin-bottom: 60px;
	padding-bottom: 60px;
}

.posts-title {
	font-size: 30px;
	margin-top: 20px;
	margin-left: 290px;
}

.posts a {
	text-decoration: none;
	color: inherit;
}
.post {
	width: 60%;
	margin-left: 50px;
	padding: 20px;
	padding-bottom: 25px;
	border-bottom: 1px solid #e2e2e2;
}

.accept, .friends {
	width: 90%;
	margin: auto;
	margin-top: 30px;
	padding: 10px;
	border-bottom: 1px solid #f0f8ff;
	border-top: 1px solid #f0f8ff;
}

.friends {
	margin-bottom: 5px;
}

.request-title, .friends-title {
	margin-bottom: 10px;
	text-align: center;
}

.request {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	clear: both;
}

.friend {
	width: 20px;
	display: inline-block;
}

.accept-submit, .decline {
	width: 60px;
	height: 20px;
	display: inline-block;
	border: 1px solid #e2e2e2;
	font-size: 13px;
	color: white;
	margin-top: -10px;
	margin-bottom: 10px;
}

.accept-submit {
	background-color: green;
	padding-bottom: 1px;
}

.accept-submit:hover {
	cursor: pointer;
	background-color: lightgreen;
}

.decline {
	float: right;
	text-align: center;
	text-decoration: none;
	background-color: red;
	margin-top: -30px;
	padding-top: 2px;
}

.decline:hover {
	background-color: crimson;
}

.friend span {
	vertical-align: top;
	padding-left: 5px;
}

/* POST SHOW */

.post-pic {
	display: block;
	margin: auto;
	margin-top: 15px;
}

.post-body {
	width: 100%;
}

.post-main {
	width: 100%;
	margin: auto;
}

.post-text {
	width: 600px;
	line-height: 30px;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 10px;
	text-align: justify;
	border-bottom: 1px solid #e2e2e2;
}

.post-links {
	width: 600px;
	margin: auto;
	margin-top: 10px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e2e2e2;
}

.user-name, .created {
	font-size: 10px;
}

a.left-link, span.left-link {
	font-size: 15px;
	padding: 2px 10px;
	color: #0099cc;
}

a.right-link, span.right-link {
	float: right;
	font-size: 15px;
	padding: 2px 10px;
	color: #0099cc;
}

.likes {
	border: 0;
	color: #0099cc;
	background-color: transparent;
	cursor: pointer;
	font-family: inherit;
}

.right-link:hover, .left-link:hover, .likes:hover {
	color: #3b5998;
	text-decoration: underline;
}

.like-form {
	float: right;
}

.comment-right-link {
	font-size: 12px;
}

.comments-body {
	width: 100%;
}

.comments {
	position: relative;
	width: 600px;
	margin: auto;
	margin-top: 20px;
	border-bottom: 1px solid #e2e2e2;
	padding-bottom: 5px;
}

.comments-title {
	font-size: 15px;
	width: 200px;
	font-weight: bold;
}

.comment {
	position: relative;
	top: -20px;
	right: -200px;
	font-size: 15px;
	width: 400px;
	margin-bottom: 10px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e2e2e2;
}

/* USER INDEX */

.user-list {
	margin-top: 20px;
	margin-left: 30px;
}

.user-list a {
	text-decoration: none;
	color: #0099cc;
	display: inline-block;
	padding-top: 10px;
	padding-left: 10px;
	vertical-align: top;
}

.user-list a:hover {
	border: 1px solid #e2e2e2;
}

.user-item {
	width: 400px;
	margin-bottom: 10px;
	padding: 5px;
}

.user-item span {
	display: inline-block;
	padding-top: 10px;
	padding-left: 10px;
	vertical-align: top;
}

.friend-request {
	border: 1px solid #e2e2e2;
	display: inline-block;
	background-color: #e2e2e2;
	margin-bottom: 10px;
}

.friend-request:hover {
	background-color: #eee;
	cursor: pointer;
}

/* FRIENDSHIP */

.right {
	position: fixed;
	height: 60px;
	width: 80px;
	top: 45%;
	bottom: 0;
	right: 0;
	border-radius: 5px 0 0 5px;
	background-color: #e2e2e2;
}

.right:hover {
	width: 210px;
}

.right:hover .add {
	display: inline-block;
}

.right-info {
	display: inline-block;
	margin-top: 0;
}

.right-info img {
	margin-left: 5px;
	margin-top: 5px;
}

.add {
	display: none;
	float: right;
	margin-top: 15px;
	margin-right: 10px;
	font-size: 12px;
	word-wrap: break-word;
	width: 130px;

}

/* EDIT POST */

.preview, .attach {
	width: 280px;
	display: inline-block;
	margin-bottom: 5px;
	margin-top: 5px;
	border: 1px solid #e2e2e2;
	padding: 10px;
}

.attach {
	height: 124px;
	vertical-align: top;
	padding-top: 45px;
	padding-left: 35px;
}

.preview img {
	display: inline-block;
	margin: auto;
}

.or {
	display: inline-block;
	font-size: 15px;
	width: 20px;
	margin-right: 5px;
	vertical-align: top;
	font-weight: bold;
}

.check {
	font-size: 13px;
	display: inline-block;
	vertical-align: 4px;
}

input[type="checkbox"] {
	display: inline-block;
}

.post-submit {
	margin-top: 5px;
}

.post-submit input[type="submit"] {
	width: 100%;
	display: block;
	border: 1px solid #e2e2e2;
	height: 40px;
	border-radius: 5px;
	cursor: pointer;
}