* { box-sizing: border-box; }

html {
	position: relative;
	min-height: 100%;
}

body {
	height: 100%;
	min-height: 100%;
	color: #555;
	background-image: url("../images/cream_pixels.png");
	overflow-x: hidden;
}

textarea {
	font-family: inherit;
	font-size: 15px;
	line-height: 25px;
	height: 300px;
	width: 600px;
	margin-top: 10px;
	padding: 20px 20px;
	border-radius: 5px;
	resize: none;
}

label {
	font-weight: normal;
	margin-bottom: 10px;
	font-size: 20px;
	display: inline-block;
}

input {
	display: inline-block;
	width: 100%;
	height: 40px;
}

p {
	line-height: 25px;
	margin-bottom: 10px;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover { text-decoration: underline; }

em { font-size: 12px; } 

i { font-size: 10px; }

/* UBI */

.container {
	margin-top: 80px;
	margin-left: 19%;
	width: 81%;
	padding-bottom: 60px;
	margin-bottom: 60px;
}

.post {
	width: 60%;
	margin: auto;
	padding: 20px;
	padding-bottom: 25px;
	border-bottom: 1px solid #e2e2e2;
}

.title {
	text-align: center;
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 40px;
}

/* ===============
	     LAYOUT
	 =============== */

/* HEADER */

header {
	position: absolute;
	color: #555;
	top: 0;
	right: 0;
	left: 0;
	height: 50px;
	background-color: #f0f8ff;
}

.logo {
	width: 250px;
	margin-top: 12px;
	text-align: center;
	display: inline-block;
}

.nav {
	float: right;
	margin-right: 20px;
	margin-top: 6px;
	font-size: 15px;
}

.nav li {
	border: 1px solid #eee;
	border-radius: 3px;
	display: inline-block;
	padding: 10px 10px;
}

.nav li:hover {
	background-color: #e9e9e9;
	cursor: pointer;
}

/* ALERTS */

.alert {
	position: absolute;
	padding: 5px;
	width: 300px;
	top: 55px;
	right: 5px;
	font-size: 15px;
	text-align: center;
	font-weight: bold;
}

.alert-alert,
.alert-error { border: 2px solid red; }

.alert-notice,
.alert-success { border: 2px solid green; }

/* FOOTER */

footer {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 35px;
	background-color: #f0f8ff;
}

.by {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 0;
	font-size: 11px;
}

/* PROFILE */

.profile {
	position: fixed;
	width: 19%;
	max-height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: #66cdaa;
	overflow-y: auto;
	overflow-x: hidden;
}

.header-im {
	width: 250px;
	height: 50px;
	background-color: #f0f8ff;
}

.user-info {
	width: 90%;
	margin: auto;
	margin-top: 40px;
}

.user-pic { display: inline-block; }

.username {
	display: inline-block;
	word-wrap: break-word;
	width: 150px;
	vertical-align: top;
	font-size: 19px;
	margin-left: 3px;
}

.profile-actions { margin-top: 20px; }

.profile-action {
	width: 90%;
	display: block;
	text-align: center;
	padding: 20px 40px;
	border: 1px solid #eee;
	margin: auto;
	margin-top: 10px;
	background-color: #e2e2e2;
	text-decoration: none;
	border-radius: 3px;
}

.profile-action:hover { 
	background-color: #e9e9e9;
	text-decoration: none;
}

/* REQUESTS, FRIENDS */

.requests,
.friends {
	width: 90%;
	margin: auto;
	margin-top: 30px;
	padding: 10px;
	border-bottom: 1px solid #f0f8ff;
	border-top: 1px solid #f0f8ff;
}

.friends { margin-bottom: 35px; }

.request-title,
.friends-title {
	margin-bottom: 10px;
	text-align: center;
}

.request {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	clear: both;
}

.friend {
	width: 29px;
	margin-bottom: 3px;
	display: inline-block;
}

.accept,
.decline {
	width: 60px;
	height: 20px;
	display: inline-block;
	border: 1px solid #e2e2e2;
	font-size: 13px;
	color: white;
	margin-bottom: 10px;
}

.accept {
	background-color: green;
	padding-bottom: 1px;
	margin-top: -10px;
}

.accept:hover {
	cursor: pointer;
	background-color: lightgreen;
}

.decline {
	float: right;
	text-align: center;
	text-decoration: none;
	background-color: red;
	margin-top: -30px;
	padding-top: 2px;
}

.decline:hover { background-color: crimson; }

/* ========== 
      FORMS 
   ==========*/

.form-container {
	margin: auto;
	width: 600px;
}

.form-devise { margin-left: 19%; }

.submit {
	width: 100%;
	display: block;
	border: 1px solid #e2e2e2;
	margin-top: 5px;
	height: 40px;
	border-radius: 5px;
	cursor: pointer;
}

.field {
	width: 100%;
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e2e2e2;
}

.checkbox-label {
	font-size: 13px;
	display: inline-block;
	vertical-align: 4px;
}

.checkbox {
	width: 10px;
	height: auto;
}

.back-button {
	display: block;
	width: 70px;
	padding: 5px;
	text-align: center;
	margin: auto;
	margin-bottom: 10px;
	border: 1px solid #e2e2e2;
	border-radius: 3px;
	background-color: #e2e2e2;
}

.form-body {
	padding: 30px;
	margin-left: 19%;
	margin-bottom: 10px;
	width: 40%;
	border: 1px solid #e2e2e2;
}

.form-body a {
	display: inline-block;
	margin-top: 10px;
	font-size: 12px;
	color: #0099cc;
}

.form-body a:hover { text-decoration: underline; }

/* LIKE FORM */

.like-form {
	display: inline-block;
	width: 80px;
	float: right;
	margin-top: -8px;
}

.likes {
	border: 0;
	width: 80px;
	color: #0099cc;
	background-color: transparent;
	cursor: pointer;
	font-family: inherit;
}

/* EDIT POST */

.preview, .attach {
	width: 280px;
	display: inline-block;
	margin-bottom: 5px;
	margin-top: 5px;
	border: 1px solid #e2e2e2;
	padding: 10px;
}

.attach {
	height: 124px;
	vertical-align: top;
	padding-top: 45px;
	padding-left: 35px;
}

.preview img {
	display: inline-block;
	margin: auto;
}

.or {
	display: inline-block;
	font-size: 15px;
	width: 20px;
	margin-right: 5px;
	vertical-align: top;
	font-weight: bold;
}

.upload {
	margin-left: 27%;
}

/* =========== 
			SHOW 
   =========== */

/* POST, PICTURE */

.picture {
	display: block;
	max-width: 100%;
	margin: auto;
	margin-bottom: 15px;
}

.post-pic {
	display: block;
	margin: auto;
	margin-top: 15px;
}

.post-text {
	width: 600px;
	line-height: 30px;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 10px;
	text-align: justify;
	border-bottom: 1px solid #e2e2e2;
}

.post-links {
	width: 600px;
	margin: auto;
	margin-top: 10px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e2e2e2;
}

.left-link {
	font-size: 15px;
	padding: 2px 10px;
	color: #0099cc;
}

.right-link,
.right-text {
	float: right;
	font-size: 15px;
	padding: 4px 10px;
	color: #0099cc;
}

.right-link:hover,
.left-link:hover,
.likes:hover {
	color: #3b5998;
	text-decoration: underline;
}

/* USER RIGHT BAR - FRIENDSHIP */

.right-bar {
	position: fixed;
	height: 60px;
	width: 80px;
	top: 45%;
	bottom: 0;
	right: 0;
	border-radius: 5px 0 0 5px;
	background-color: #e2e2e2;
}

.right-bar:hover { width: 210px; }

.add-friend {
	display: none;
	float: right;
	margin-top: 15px;
	margin-right: 10px;
	font-size: 12px;
	word-wrap: break-word;
	width: 130px;
}

.right-bar:hover .add-friend { display: inline-block; }

.right-bar-info {
	display: inline-block;
	margin-top: 0;
}

.right-bar-info img {
	margin-left: 5px;
	margin-top: 5px;
}

/* COMMENT */

.comments {
	position: relative;
	width: 600px;
	margin: auto;
	margin-top: 20px;
	border-bottom: 1px solid #e2e2e2;
	padding-bottom: 5px;
}

.comments-title {
	font-size: 15px;
	width: 200px;
	font-weight: bold;
}

.comment {
	position: relative;
	top: -20px;
	right: -200px;
	font-size: 15px;
	width: 400px;
	margin-bottom: 10px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e2e2e2;
}

/* ===========
			INDEX
	 =========== */

/* POST */

.post-index-name {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
}

.post-index-pic { margin-bottom: 10px; }

.post-index-text { color: inherit; }

.post-index-text:hover { text-decoration: none; }

/* USER */

.user-list {
	margin-top: 20px;
	margin-left: 30px;
}

.user-list a {
	text-decoration: none;
	color: #0099cc;
	display: inline-block;
	padding-top: 10px;
	padding-left: 10px;
}

.user-list a:hover { border: 1px solid #e2e2e2; }

.user-item {
	width: 300px;
	margin-bottom: 10px;
	padding: 5px;
}

.user-item span {
	display: inline-block;
	padding-top: 10px;
	padding-left: 10px;
	vertical-align: top;
}

.user-container {
	width: 415px;
	display: inline-block;
}

.friend-request {
	float: right;
	padding-top: 10px;
}