<section class="right-bar">
	<div class="right-bar-info">
		<%= image_tag(@user.picture, size: "50", class: "user-pic") %>
	</div>
	<div class="add-friend">
		<% if not_friend?(@user) %>
			<%= render "friendships/form", user: @user %>
		<% else %>
			<%= link_to "Remove from friendship", friendship_path(find_friend), method: :delete %>
		<% end %>
	</div>
</section>