<section class="right">
	<div class="right-info">
		<%= image_tag(@user.picture, size: "50", class: "user-pic") %>
	</div>
	<% if not_friend?(@user) %>
		<div class="add">
			<%= render "friendships/form", user: @user %>
		</div>
	<% else %>
		<div class="add">
				<%= link_to "Remove from friendship", friendship_path(find_friend), method: :delete %>
		</div>
	<% end %>
</section>