<section class="container">
	<ul class="user-list">
		<% @users.each do |user| %>
			<div class="user-container">
				<a href="<%= user_path(user) %>"><li class="user-item"><%= image_tag(user.picture, size: "40") %> <span><%= user.username %></span></li></a>
				<% if not_friend?(user) %>
					<div  class="friend-request">
						<%= render "friendships/form", user: user %>
					</div>
				<% end %>
			</div>
		<% end %>
	</ul>
</section>