<div class="form-container">
	<%= form_for(@picture, html: { multipart: true }) do |f| %>
		<div class="attach upload">
			<%= f.file_field :picture, accept: "image/jpeg, image/gif, image/png" %>
		</div>
		<%= f.submit "Submit", class: "submit" %>
	<% end %>
</div>