<section>
	<p class="post-text"><%= @post.body %></p>
	<%= image_tag @post.picture, class: "post-pic" %>
	<div class="post-links">
		<%= render "shared/links" %>
	</div>
	<%= render "shared/comments" %>
</section>


