<!DOCTYPE html>
<html>
<head>
	<title></title>
<style>
		header {
			display: absolute;
			top: 0;
			right: 0;
			left: 0;
			height: 35px;
			padding-top: 5px;
			background-color: #f0f8ff;
		}

		header img {
			display: block;
			width: 25px;
			margin: auto;
		}
		p { text-align: center; }
		span { font-style: italic; }
	</style>
</head>
<body>
	<header>
		<img src="http://www.clipartbest.com/cliparts/4i9/xEj/4i9xEjdGT.png" alt="logo" size="25">
	</header>
	<p>Hello <span><%= @resource.email %></span>!</p>

	<p>Someone has requested a link to change your password. You can do this through the link below.</p>

	<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

	<p>If you didn't request this, please ignore this email.</p>
	<p>Your password won't change until you access the link above and create a new one.</p>
</body>
</html>
